@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: "Custom Font";
  src: url("https://arweave.net/Gq74L324m7XM5r0KYhWyDevyUeVmZ1AIJI6z6FLKXgA");
}

body {
  background-color: #e6e6e6;
  font-family: "Space Grotesk";
  color: #272727;
}

body > * {
  box-sizing: border-box;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #e6e6e6;
  z-index: 10;
  box-shadow: 0px 4px 15px -4px rgb(0 0 0 / 4%);
  border-top: 4px solid #e69400;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Custom Font";
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 97px;
  margin-right: 16px;
}

.logo-container h1 {
  font-size: 48px;
  font-weight: 400;
}

.header-opts {
  font-size: 20px;
}

.header-opts a {
  margin-left: 40px;
}

.header-opts a img {
  display: none;
}

.main-content {
  width: 100%;
  min-height: calc(100vh - 301px);
  /* header heigh + footer heigh*/
  overflow: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.content {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 768px;
}

.content h1 {
  font-weight: 400;
  font-size: 34px;
}

.content p {
  font-weight: 400;
  line-height: 28px;
}

.content .nice-title {
  position: relative;
  text-align: center;
}

.content .nice-title::after {
  font-family: "Custom Font";
  color: #272727;
  font-size: 120px !important;
  font-weight: 700;
  opacity: 0.06;
  content: attr(background-title);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.roadmap-wrap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-flow: column;
}

.roadmap-wrap::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background: #e69400;
  top: -0px;
  left: -0px;
}

.roadmap-step-head {
  font-weight: bold;
  position: relative;
}

.roadmap-step-head::after {
  content: "";
  text-align: center;
  line-height: 18px;
  background: #e6e6e6;
  padding: 5px;
  border-radius: 26px;
  position: absolute;
  left: -53px;
  top: -3px;
  height: 15px;
  width: 15px;
  border: 2px solid #e69400;
}

.roadmap-step-head.completed::after {
  background: #e69400;
  content: "✔";
  color: #e6e6e6;
}

.footer {
  background-color: #272727;
  color: #e6e6e6;
}

.footer img {
  width: 24px;
  margin-left: 24px;
}

.form-success {
  background-color: teal;
  color: white;
}

.form-error {
  background-color: crimson;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
  /* no underline */
  transition: color 0.1s ease-in;
}

a:hover {
  color: #e69400;
}

input {
  background-color: transparent;
  color: #272727;
  padding: 10px;
  border: 2px solid #e69400;
  font-family: "Space Grotesk";
  letter-spacing: 1.5px;
  max-width: 400px;
  width: 100%;
  font-size: 100%;
  margin-right: 8px;
}

input:focus {
  background-color: white;
  outline: none;
  color: #272727;
  font-weight: bold;
}

button {
  padding: 10px;
  border: 2px solid #cb8200;
  font-family: "Space Grotesk";
  background-color: #e69400;
  color: #272727;
  font-weight: bold;
  font-size: 100%;
  cursor: pointer;
}

button:hover {
  background-color: white;
}

@media screen and (max-width: 900px) {
  .main-content {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (max-width: 768px) {
  .main-content {
    min-height: calc(100vh - 230px);
    /* header heigh + footer heigh*/
  }

  .logo-container img {
    width: 67px;
  }

  .logo-container h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 650px) {
  .content input {
    max-width: 100%;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  .content button {
    width: 100%;
  }

  .content .nice-title::after {
    font-size: 95px !important;
  }
}

@media screen and (max-width: 500px) {
  .main-content {
    min-height: calc(100vh - 210px);
    /* header heigh + footer heigh*/
  }

  .logo-container img {
    width: 47px;
  }

  .logo-container h1 {
    font-size: 24px;
  }

  .header-opts a span {
    display: none;
  }

  .header-opts a img {
    display: inline-block;
    margin-top: 5px;
  }

  .content .nice-title::after {
    font-size: 70px !important;
  }
}

/* Utilities */
.max-width-550 {
  max-width: 550px;
}

.m-0 {
  margin: 0px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-350 {
  margin-top: 350px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-200 {
  margin-bottom: 200px;
}

.p-16 {
  padding: 16px;
}

.p-30 {
  padding: 30px;
}

.pl-40 {
  padding-left: 40px;
}

.pt-40 {
  padding-top: 40px;
}

/*custom sm*/
@media screen and (max-width: 650px) {
  .mt-sm-250 {
    margin-top: 250px !important;
  }

  .mb-sm-100 {
    margin-bottom: 100px !important;
  }
}
/*custom xs*/
@media screen and (max-width: 500px) {
  .mt-xs-200 {
    margin-top: 200px !important;
  }

  .mt-xs-100 {
    margin-top: 100px !important;
  }
}
